# Explore here

In [4]:
# Your code here
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/linear-regression-project-tutorial/main/medical_insurance_cost.csv')
#falta guardarlo como raw
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [7]:
df.drop_duplicates().reset_index(drop=True)  #Eliminar duplicados

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1332   50    male  30.970         3     no  northwest  10600.54830
1333   18  female  31.920         0     no  northeast   2205.98080
1334   18  female  36.850         0     no  southeast   1629.83350
1335   21  female  25.800         0     no  southwest   2007.94500
1336   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

In [ ]:
df.isnull()  #Eliminar nulos
#EDA

In [8]:
#Escalado
#Factorizar variables categoricas
df['sex_n']= pd.factorize(df['sex'])[0]
df['smoker_n']= pd.factorize(df['smoker'])[0]
df['region_n']= pd.factorize(df['region'])[0]

num_variables = ['age','bmi','children','sex_n','smoker_n','region_n','charges']

In [10]:
#Escalado
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
columnas_escaladas = scaler.fit_transform(df[num_variables])
df_escalado = pd.DataFrame(columnas_escaladas,index=df.index,columns=num_variables)
df_escalado

NameError: name 'num_variables' is not defined

In [11]:
#Dividir Train y Test
from sklearn.model_selection import train_test_split
X=df_escalado.drop('charges',axis=1)
y= df['charges']

X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.2,random_state=42)

NameError: name 'df_escalado' is not defined

In [12]:
#Modelo de regresion lineal
from sklearn.linear_model import LinearRegression

model= LinearRegression()
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [ ]:
#Imprimir intercepto y coeficientes
print(f'Intercepto(a): {model.intercept_}')
print(f'Coeficientes(b): {model.coef_}')

In [ ]:
#Predecir modelos
y_pred= model.predict(X_test)
y_pred

In [ ]:
#Metricas
from sklearn.metrics import mean_squared_error, r2_score
print(f'MSE:{mean_squared_error(y_test,y_pred)}')
print(f'R2:{r2_score(y_test,y_pred)}')